@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i|Ubuntu:300,300i,700,700i');

body, h1, h2, h3, h4, h5, h6, legend {
    font-family: "Ubuntu","Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight: 300;
    font-size: 1em; 
}
body {
    font-size: 1em; 
}
pre, code, .rst-content tt, kbd, samp {
    font-family: "Ubuntu Mono",Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    font-size: 1em;
}

.wy-side-nav-search {
    background-color: #1da1f2;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    font-weight: normal;
}

h1 {
  /*color: green;*/
}